@import url("./resets/reset.css");
@import url("./resets/normalize.css");
@import url("./resets/typography.css");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --color-primary:#FF6565;
    --color-black:#1b1b1b;
    --color-white: #ffffff;
    --color-ligh-grey:#07162922;
    --color-blue:#071629;

    --text-color: var(--color-black);

    --font-family-base: 'Source Sans Pro', sans-serif, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-size-small: 1.4rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 3.2rem;
    --font-size-xx-large: 4.6rem;

    --font-weight-regular: 400;
    --font-weight-semiBold: 500;
    --font-weight-bold: 600;

    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;
    --line-heigt-extra-big: 4rem;
    --nav-item-margin: 0 0 0 4rem;
    --header-text-color:var(--color-white);

}

/* Base
============================= */

*, *:before, *:after {
    box-sizing: border-box;
  }

  html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  }

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
    overflow-x: hidden;
    color: var(--text-color);
    margin: 0 auto;
    justify-content: center;
  }

  button:hover {
    opacity: 0.9;
  }

  button:active {
    opacity: 0.9;
  }

  button {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 13px 31px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
    margin: 0 auto;
    display: flex;
  }

  h1 {
    font-weight: var(--font-weight-bold);
    line-height: var(--line-heigt-extra-big);
  }
  h2 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-x-large);
  }
  h3 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-large);
  }
  p {
    margin: 0 2rem;
  }

  footer {
    color: var(--color-white);
  }
  footer p {
    opacity: 0.35;
  }
  /*Header*/

  header {
    width: 100%;
    padding-top: 2rem;
    position: absolute;
    color: var(--header-text-color);
  }
  header ul {
    font-weight: var(--font-weight-bold);
    min-width: 100%;
  }
  .header_logo {
    width: 160px;
  }

  .header-container {
    display: flex;
    justify-content: space-around;
  }

  .nav{
    font-size: var(--font-size-small);
    font-weight: 700;
    display: flex;
  }

  .nav .nav-link:hover
  {
    color: var(--color-primary)
  }

  .nav .nav-link:active
  {
    color: var(--color-primary)
  }

  .nav-item {
    margin: var(--nav-item-margin);
  }

  .menu-ico {
    cursor: pointer;
    padding: 2.5rem;
    position: relative;
    user-select: none;
    display: none;
  }
  .nav-ico {
    background: var(--color-white);
    display: block;
    width: 2rem;
    height: .2rem;
    position: relative;
    transition: background .2s ease-out;
  }
  .nav-ico::before, .nav-ico::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--color-white);
    transition: all .2s ease-out;
  }
  .menu-btn:checked ~ .menu-ico .nav-ico::before {
    transform: rotate(-45deg);
  }
  .menu-btn:checked ~ .menu-ico .nav-ico::after {
    transform: rotate(45deg);
  }
  .menu-btn:checked ~ .menu-ico .nav-ico::after,
  .menu-btn:checked ~ .menu-ico .nav-ico::before {
    top:0;
  }
  .menu-btn:checked ~ .menu-ico .nav-ico {
    background: transparent;
  }

  .nav-ico::after {
    top: .7rem;
  }
  .nav-ico::before {
    top: -.7rem;
  }
  .menu-btn {
    display: none;
  }

  /*Banner*/

  .banner {
    background-image: url("./img/headphones_hero_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 880px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--header-text-color);
  }
  .banner-content {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-title {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0 2rem;
  }
  .main-title strong {
    margin: 0 4rem;
  }
  .CTA {
    margin: 40px 0;

  }

  .caption {
    text-align: center;
    max-width: 637px;
    padding-top: 1.5rem;
  }

  /*DISCOVER SECTION*/
  .discover {
    max-width: 1000px;
    margin: 0 auto;
  }
  .discover-title{
    margin-bottom: 4rem;
  }
  .discover-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .icons-section {
    display: flex;
  }

  .discover-subtitle p {
    text-align: center;
    max-width: 637px;
    margin-bottom: 10rem;
  }

  .discover-icon, .discover-icon2  {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .discover-icon h3 {
    margin-top: 2.5rem;
  }

  .discover-icon p {
    margin: 1.3rem 0;
  }
  .discover-icon2 img{
    padding-bottom: 7rem;
  }

  .section1, .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 11rem;

  }

  .section2{
    background-image: url('./img/headphones_hero_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: auto;
    width: 100vw;
    color: var(--color-white);
  }


  .number {
    font-size: var(--font-size-xx-large);
    font-weight: var(--font-weight-bold);
    position: absolute;
    transform: translate(0px, -125px);
    margin-left: 9.6rem;

  }

  .sub-number {
    position: absolute;
    transform: translate(0px, -100px);
    font-size: var(--font-size-small);
    margin-left: 9.6rem;

  }
  .discover-icon {
    margin-bottom: 11rem;
  }

  .discover-icon2{
    margin: 0 16px;

  }

  .icons-section2 {
    display: flex;
  }

  .section2 img {
    width: 19rem;
    margin-left: 7.6rem;

  }

/*FORM*/
.from-container {
    position: relative;
    display: flex;
    width: 33rem;
    flex-direction: column;
}

.visually-hidden {
    display: none;
}
input[type=text], input[type=email], textarea{
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--color-ligh-grey)
  }
  input{
    height: 4rem;
    margin-bottom: 4.5rem;
  }
.from-container h2 {
    margin-bottom: 5.6rem;
    display: flex;
    justify-content: center;
}
textarea {
    height: 38px;
}
.from-container button {
    margin-top: 5.6rem;
}
.from-container {
    margin-top: 11rem;
    margin-bottom: 14rem;
}
.form-label {
    position: absolute;
}
.form-name .form-label {
    bottom: 28rem;
    left: 0;
}
.form-email .form-label {
    bottom: 19.5rem;
    left: 0;
}
.form-message .form-label {
    bottom: 11rem;
    left: 0;
}
input:focus {
    border-bottom: 2px solid #555;
    outline: none;
  }
  .form-field-container input:focus ~ label,
  .form-field-container input:valid ~ label{
    transform: translateY(-20px);
    transition: all 0.3s ease;
  }

  .form-field-container {

  }
  /* reset input */

@media screen and (max-width: 1180px) {
    .icons-section2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    .discover-icon2 {
        flex-basis: 40%;
    }
    .discover-icon p {
        max-width: 24rem;
    }

    .section2 img, .number, .sub-number {
        margin: 0;
    }
    .icons-section {
        flex-wrap: wrap;
    }
    .icons-section .discover-icon {
        flex-basis: 50%;
    }
}
/*FOOTER*/

footer {
    display: flex;
    height: 100%;
    width: 100%;
    align-self: center;
    flex-direction: column;
}

.footer {
    background-color: var(--color-blue);
    width: 100%;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer ul {
    display: flex;
}
.footer li {
    padding-left: 2rem;
}
.footer-logo img {
    width: 16rem;
}

.footer-logo, .social-media-ico {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo {
    display: flex;
    height: 100%;
    justify-content: space-around;
}

.copyright {

    display: flex;
    justify-content: center;
    margin-bottom: 3.4rem;

}

svg {
    fill :var(--color-white);
}
@media screen and (max-width: 767px) {
    .nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: 3rem;
        line-height: 4rem;
    }
    .header-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

    }
    .header_logo {
        display: flex;
        justify-content: center;
        padding-top: 0.7rem;
    }
    .navbar-menu{
        display: none;
    }
    .menu-ico {
        display: block;
        position: absolute;
        width: 100%;
    }
    .menu-btn:checked ~ .navbar-menu {
        display: block;
        max-height: 100%;
        overflow: inherit;
      }
      .nav-item {
        margin: 0;
      }
      .banner {
        background-position: 38% -3rem;
      }
      .logo {
        flex-direction: column;
        justify-content: space-evenly;
      }
      footer {
        width: auto;
      }


    }
@media screen and (max-width: 520px) {
    .icons-section {
        display: block;
    }
}
